:root {
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);

	/* Layout */
	/* - Mobile: 375px */
	/* - Desktop: 1440px */

	/* Font */
	/* font-size: 24px; (form inputs) */
	/* font-weight: 700; */
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html * {
	font-family: 'Space Mono', monospace;
}
body {
	margin: 0;
	background-color: var(--light-grayish-cyan);
}
.inactive {
	display: none;
}

/* Main */
.main {
	width: 100%;
	min-width: 320px;
	padding: 30px;
	background-color: var(--white);
	border-radius: 20px;
}

/* Inputs */
.num-of-people {
	margin-top: 40px;
}

form > label,
.select-tip legend,
.num-of-people label {
	color: var(--dark-grayish-cyan);
}
.input-number {
	display: block;
	width: 100%;
	padding: 5px 14px;
	background-color: var(--very-light-grayish-cyan);
	font-size: 24px;
	text-align: end;
	color: var(--very-dark-cyan);
	border: none;
	border-radius: 5px;
}
#bill {
	background-image: url('./images/icon-dollar.svg');
}
#num-of-people {
	background-image: url('./images/icon-person.svg');
}
#bill,
#num-of-people {
	margin-top: 6px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: left;
}

/* Tips */
.select-tip {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin-top: 36px;
	padding: 0;
	border: none;
}
.select-tip legend {
	
	margin-bottom: 16px;
}
.tip-input {
	padding: 8px 0;
	background-color: var(--very-dark-cyan);
	font-size: 22px;
	text-align: center;
	color: var(--white);
}
.tip-input label {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.tip-input input {
	display: none;
}
.tip-input,
.custom-tip {
	border-radius: 5px;
}

/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
