:root {
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--light-grayish-cyan: hsl(185, 41%, 84%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);

	/* Layout */
	/* - Mobile: 375px */
	/* - Desktop: 1440px */

	/* Font */
	/* font-size: 24px; (form inputs) */
	/* font-weight: 700; */
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html * {
	font-family: 'Space Mono', monospace;
}
body {
	margin: 0;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
